services:
  bruh-bot-dev:
    container_name: bruh.bot.dev
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ENVIRONMENT=dev
    volumes:
      - ./prompts.json:/app/prompts.json:ro
      - ./config:/app/config
    restart: unless-stopped
  bruh-bot-prod:
    container_name: bruh.bot.prod
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ENVIRONMENT=prod
    volumes:
      - ./prompts.json:/app/prompts.json:ro
      - ./config:/app/config
    restart: unless-stopped