services:
  juno-dev:
    container_name: juno-dev
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ENVIRONMENT=dev
    volumes:
      - ./prompts.json:/app/prompts.json:ro
      - ./config:/app/config
    restart: unless-stopped
  juno-prod:
    container_name: juno-prod
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ENVIRONMENT=prod
    volumes:
      - ./prompts.json:/app/prompts.json:ro
      - ./config:/app/config
    restart: unless-stopped